html, body {height: 100%;}

body{
    position: relative;
    font-family: $font-base;
    color: white;
    background: url("../images/bg.jpg") no-repeat center top;
    background-size: cover;
}

img{
    max-width:100%;
    outline: none;
    border: none;
}

strong{font-weight: bold;}

p{
    padding-bottom: 16px;
}

h1{font-size: 112px;}
h2{font-size: 56px;}
h3{font-size: 44px;}
h4{font-size: 28px;}
h5{font-size: 24px;}
h6{font-size: 18px;}
.h7{font-size: 16px; line-height: 20px;}
.h8{font-size: 14px; line-height: 18px;}
.h9{font-size: 12px;}

.row-no-space{
    margin-right: 0 !important;
    margin-left: 0 !important;
    [class*="col-"] {
        padding-right: 0 !important;
        padding-left: 0 !important;
    }
}

.no-padding{
    padding-right: 0;
    padding-left: 0;
}

.no-margin{
    margin-right: 0;
    margin-left: 0;
}


.marginBottom48{margin-bottom: 48px;}
.marginBottom40{margin-bottom: 40px;}
.marginBottom32{margin-bottom: 32px;}
.marginBottom28{margin-bottom: 28px;}
.marginBottom24{margin-bottom: 24px;}
.marginBottom20{margin-bottom: 20px;}
.marginBottom16{margin-bottom: 16px;}
.marginBottom12{margin-bottom: 12px;}
.marginBottom10{margin-bottom: 10px;}
.marginBottom8{margin-bottom: 8px;}
.marginBottom4{margin-bottom: 4px;}
.marginBottom0{margin-bottom: 0 !important;}

.marginTop48{margin-top: 48px;}
.marginTop32{margin-top: 32px;}
.marginTop28{margin-top: 28px;}
.marginTop24{margin-top: 24px;}
.marginTop20{margin-top: 20px;}
.marginTop16{margin-top: 16px;}
.marginTop12{margin-top: 12px;}
.marginTop10{margin-top: 10px;}
.marginTop8{margin-top: 8px;}
.marginTop4{margin-top: 4px;}
.marginTop0{margin-top: 0;}

.div-center{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}


