@font-face {
  font-family: 'Aller Display';
  src: url('../fonts/AllerDisplay.eot');
  src: url('../fonts/AllerDisplay.eot?#iefix') format('embedded-opentype'),
  url('../fonts/AllerDisplay.woff2') format('woff2'),
  url('../fonts/AllerDisplay.woff') format('woff'),
  url('../fonts/AllerDisplay.ttf') format('truetype'),
  url('../fonts/AllerDisplay.svg#AllerDisplay') format('svg');
  font-weight: normal;
  font-style: normal;
}
