.button-special {
  width: auto;
  height:54px;
  line-height: 56px;
  text-decoration: none;
  display: inline-block;
  padding: 0 36px;
  text-align: center;
  text-transform: uppercase;
  white-space: nowrap;
  letter-spacing: .05em;
  font-size: 20px;
  outline: none;
  border: 0;
  color: $base-blue;
  background: #fff;
  @include border-radius(27px);
  @include box-shadow(9px, 9px, 46px, rgba(0, 0, 0, .55));
  @include transition(all 300ms ease-in-out);

  &:hover{
    background: #f9dc14;
    color: black;
    transform: translateY(-6px);
    @include box-shadow(12px, 12px, 60px, rgba(0, 0, 0, .65));
  }

  @include respond-to(mobile){
    height:44px;
    line-height: 44px;
    padding: 0 30px;
    font-size: 18px;
  }
}

.fileUpload {
  position: relative;
  overflow: hidden;
}

.fileUpload input.upload {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  font-size: 20px;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0);
}

.fileUpload{
  width: 200px;
  height:54px;
  line-height: 56px;
  text-decoration: none;
  display: inline-block;
  padding: 0 36px;
  text-align: center;
  text-transform: uppercase;
  white-space: nowrap;
  letter-spacing: .05em;
  font-size: 20px;
  outline: none;
  border: 0;
  color: $base-blue;
  background: #fff;
  @include border-radius(27px);
  @include box-shadow(9px, 9px, 46px, rgba(0, 0, 0, .55));
  @include transition(all 300ms ease-in-out);

  &:hover{
    background: #f9dc14;
    color: black;
    transform: translateY(-6px);
    @include box-shadow(12px, 12px, 60px, rgba(0, 0, 0, .65));
  }
}