<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Three is a Crowd - Image Processing Workshop</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>

    <![endif]-->
</head>
<body>

<section class="page-wrapper">
    <div class="row">
        <div class="col-sm-4 marginBottom32">
            <div class="text-center">
                <img src="{{ url_for('static', filename='images/step01.png') }}" alt="step01" class="step-title"/>
            </div>
            <div class="text-center">
            <form name = "1" action = "http://localhost:8080/server/upload" method = "POST" 
                 enctype = "multipart/form-data">
                 <input type = "file" name = "file" />
                 <button type = "submit" class="button-special">Upload Photo</button>
              </form>
            </div>

            <div class="image-holder" id="uploaded-image">
                <img src="" alt=""/>
            </div>

        </div>
        <div class="col-sm-4 marginBottom32">
            <div class="text-center">
                <img src="{{ url_for('static', filename='images/step02.png') }}" alt="step02" class="step-title"/>
            </div>
            <div class="text-center">
            <form name = "2" action = "http://localhost:8080/server/object_remove" method = "POST">
                <button class="button-special" type="submit">Hide them!</button>
            </form>
            </div>
            <div class="mask-holder" id="uploaded-mask">
                <img src="" alt=""/>
            </div>
        </div>
        <div class="col-sm-4 marginBottom32">
            <div class="text-center">
                <img src="{{ url_for('static', filename='images/result.png') }}" alt="result" class="step-title"/>
            </div>
            <div class="image-final" id="final-image" style="display: inline;">
                {% if image != None %}
                <img src="{{ url_for('static', filename=image.image_url ) }}" alt=""/>
                {% else %}
                <img src="" alt=""/>
                {% endif %}
            </div>
        </div>
    </div>
</section>

<footer>
    Presented by Embla Software Innovation.
</footer>


<script src="{{ url_for('static', filename='js/jquery-3.0.0.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery.easing.1.3.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery.nicescroll.js') }}"></script>
<script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>